body{
    background-color: #ECF0F1;
}

.cadastro{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container-cad{
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    display: flex;
}

input{
    width: 450px;
    height: 30px;
}

#img-cad{
    height: 540px;
    padding-top: 38px;
    padding-left: 240px;
}

.footer-cad{
    background-color: #FF5F25;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 65px;
    color: white;
    margin-top: 78px;
}

