body{          /*para resetar o default*/
    margin: 0; 
    padding: 0;
    border: 0;
}

.header{
    padding-top: 8px;    
    background: #232323;
    width: 100%;               
    height: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO */
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header span{
    float: left;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
}

.header nav{
    float: right;
    padding-top: 12px;
}

ul{
    list-style: none; /*reseta default da list (tira marcação)*/
}

ul li{
    color: white; 
    display: inline; 
    margin-left: 25px; /*distância entre os itens*/
    font-size: medium;
}

.laranja{
    color: #FF4207;
}

/* CONFIRA AS ATUALIZAÇÕES */
#button{
    background-color: #FF4207;
    color: white;
}

/* IMAGEM */
.apresentacao{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Imagens/team.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: white;
    margin: 0;
}

.apresentacao h3{
    font-size: 70px;
    margin: 0;
    padding-top: 65px;
}

.apresentacao p{
    font-size: 25px;
    padding-top: 40px;
}

/* SEARCH BOX */
.searchbox h3{
    font-size: 20px;
    color: white;
    float: left;
    margin: 0;
    margin-top: 20px;
}

.searchbox nav{
    float: right;
    margin-bottom: 40px;;
}

.footer{
    height:200px;
    padding-top: 36px;
    display: flex;
    width: 100%;
}

#missao{
    width: 100px;
    margin-left: 7%;
}

#visao{
    width: 100px;
    margin-left: 6%;
}

#valores{
    width: 100px;
    margin-right: 7%;
}

.container_mvv{
    max-width: 1500px;
}

.mvv{
    margin-inline: 149px;
    max-width: 150px;
    float: left;
    text-align: center;
}


#last{
    background-color: #FF4207;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    color: white;
}

