body{          /*para resetar o default*/
    margin: 0; 
    padding: 0;
    border: 0;
}

.header{
    padding-top: 20px;    
    background: #232323;
    width: 100%;               
    height: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header span{
    float: left;
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
}

.header nav{
    float: right;
}

ul{
    list-style: none; /*reseta default da list (tira marcação)*/
}

ul li{
    color: white; 
    display: inline; 
    margin-left: 25px; /*distância entre os itens*/
    font-size: medium;
}

.laranja{
    color: #FF4207;
}
