.page-login{
    background-color: #ecf0f1;
    text-align: center;
    padding: 60px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box-login{
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 60px 20px 0px 20px;
    border-radius: 20px;
    width: 400px;
    height: 250px; 
}

.page-login .input-padrao{
    width: 50%;
    display: inline-block
}

.btn-green{
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;

    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.btn-grey{
    color: white;
    background-color: orangered;
    margin: 9px 0 50px 0;
    border: 0;
    padding: 10px 20px;

    border-radius: 5px;
    cursor: pointer;
}

.page-login .btn-green{
    display: block;
    float: none;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 15px;
    color: orangered;
    /* border-bottom: 1px solid orangered; */
}

.footer{
    background-color: #FF5F25;
    padding-bottom: 38px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 65px;
    color: white;
}

.container-ft{
    margin: 0 auto;
    text-align: center;
    padding-top: 12px;
}
