*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #55443e;
    border-bottom: 6px solid orangered;
    margin-bottom: 20px;
}

.container{
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#text{
    text-transform: uppercase;
    font-weight: bold;
    /* text-align: center; */
    color: white;
    font-size: 20px;
}

ul li{
    list-style: none;
    font-size: 15px;
}
/* .img-canvas{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.graficos{
    display: flex;
    margin-bottom: 20px;
}

.graf1{
    width: 500px;
    margin-right: 80px;
}

.graf2{
    width: 700px;
    margin-top: 50px;
    background-image: url();
}

footer{
    background-color: #55443e;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 15.5px;
    color: orangered;
}